<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script">

    <!-- jquery
        ============================================ -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="/assets/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="/assets/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="/assets/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="/assets/js/metisMenu/metisMenu.min.js"></script>
    <script src="/assets/js/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="/assets/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/assets/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="/assets/js/calendar/moment.min.js"></script>
    <script src="/assets/js/calendar/fullcalendar.min.js"></script>
    <script src="/assets/js/calendar/fullcalendar-active.js"></script>
    <!-- float JS
        ============================================ -->
    <script src="/assets/js/flot/jquery.flot.js"></script>
    <script src="/assets/js/flot/jquery.flot.resize.js"></script>
    <script src="/assets/js/flot/curvedLines.js"></script>
    <script src="/assets/js/flot/flot-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="/assets/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="/assets/js/main.js"></script>
</th:block>