<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label for="Languages">Languages</label>
<select id="Languages">
    <option value="English">English</option>
    <option value="Vietnamese">Vietnamese</option>
    <option value="Japanese">Japanese</option>
    <option value="Chinese" Chinese>Chinese</option>
</select><br>
<label for="page">Page Size</label> Show
<select id="page">
    <option value="number">5</option>
    <option value="number">10</option>
    <option value="number">15</option>
    <option value="number" >25</option>
    <option value="number">50</option>
    <option value="number" >100</option>
</select> emails per page<br>
                
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
</body>
</html>